
body {
 background: #fff; 
}
#end + link[href*="kaseya.css"] + div > div > div iframe[src^="https://www.youtube.com/embed"], 
#end + iframe + link[href*="kaseya.css"] + div > div > div iframe[src^="https://www.youtube.com/embed"] { 
  height: 400px !important;
}
#end + link[href*="kaseya.css"] + div > div > div, #end + iframe + link[href*="kaseya.css"] + div > div > div{
 height: 430px !important;
}

/*
body > div > div > div:nth-child(2) {
 margin-top: 200px !important;
}
*/
